.left-fig {
  width: 48%;
  float: left;
  padding-right: 1%;
}
.right-fig {
  width: 48%;
  float: right;
  padding-left: 1%;
}

.link-style1 a {
  color: blue;
  text-decoration: underline;
}

.link-style2 a {
 color: blue;
}

img.twentypercsize {
  max-width:20%;
  max-height:20%;
}

img.thirtypercsize {
  max-width:30%;
  max-height:30%;
}

img.fortypercsize {
  max-width:40%;
  max-height:40%;
}

img.fiftypercsize {
  max-width:50%;
  max-height:50%;
}

img.sixtypercsize {
  max-width:60%;
  max-height:60%;
}
