.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user

_book
_bookdown_*
_main*
all.bib
csas-style
knitr-cache
knitr-cache-docx
knitr-cache-pdf
knitr-cache-tex
knitr-figs-docx
knitr-figs-pdf
models*
reference-materials
resdoc.aux
resdoc.log
resdoc.Rmd
resdoc.tex
resdoc.toc
resdoc.upa
resdoc.pdf
resdoc.knit.md
resdoc.utf8.md
test
test.Rmd
tmp-*
tmp_*

*.cpp
*.dll
*.log
*.o
*.rds
*.so
*.stan
*.pdf

!docs/pre-review/_bookdown_files/knitr_cache

